@import 'tailwindcss';
body {
  margin: 0;
  font-family:
    Inter,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background: #f4f7fa;
  color: #111827;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
